@import "tailwindcss";

@theme {
  --color-primary: #4F46E5;
  --color-secondary: #10B981;
  --color-dark: #1F2937;
}

body {
  background-color: var(--color-gray-50);
  color: var(--color-gray-900);
}